/* TODO: move these styles to a separate repo */

.card {
  display: block;
  perspective: 1000px;
  position: absolute;
}

.card-transform {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card-flipped .card-transform {
  transform: rotateY(175deg);
}

.card, .card-front, .card-back {
  width: 500px;
  height: 500px;
}

.card-front, .card-back {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}
